requests==2.31.0 # HTTP calls to football-data.org API
python-dotenv==1.0.0 # loads .env file safely
azure-storage-blob==12.19.0 # read/write Azure ADLS Gen2
dbt-core==1.7.0 # dbt SQL transformation framework
duckdb==0.10.0 # analytics database — Gold layer
pytest==7.4.0 # unit testing
pytest-mock==3.11.1 # mock API calls in tests